<div class="container">
    <div class="row justify-content-center mb-5">
        <div class="col-10 col-md-8 col-lg-6">
            <h4>Lo b치sico 游</h4>
            <p class="text-muted">Guarda el identificador de tu lista de tareas para que m치s adelante puedas ver los resultados y gestionarla</p>
            <div class="input-group mb-3">
                <input id="decision-hash" type="text" class="form-control" aria-label="decision hash" aria-describedby="button-decision-hash" value="<%= @hash %>" disabled>
                <button class="btn btn-outline-secondary" type="button" id="button-decision-hash"><i class="bi bi-clipboard-fill"></i></button>
            </div>
            <p class="text-muted">Para empezar a priorizar con el resto de tu equipo, copia el siguiente link y comp치rtelo con las personas que quieres que participen</p>
            <div class="input-group">
                <input id="decision-url" type="text" class="form-control" aria-label="decision url" aria-describedby="button-decision-url" value="https://decision-making-tool.herokuapp.com/decisions/<%= @hash %>/vote" disabled>
                <button class="btn btn-outline-secondary" type="button" id="button-decision-url"><i class="bi bi-clipboard-fill"></i></button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-10 col-md-8 col-lg-6">
            <h4>Tareas que quieres priorizar 游뱂</h4>
            <ul class="list-group">
                <% @tasks.each do |task| %>
                <li id="<%= task.id %>" class="list-group-item d-flex justify-content-between align-items-center <%= task.votes!=0 ? 'list-group-item-primary' : '' %>">
                    <%= h task.name %>
                    <span class="badge bg-primary rounded-pill"><%= task.votes %></span>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-6">
            <h4>Configuraciones 丘뙖잺</h4>
            <p class="text-muted">Por ahora solo puedes seleccionar la cantidad m치xima de votos por persona, pero pronto se vendr치n m치s cosas 游</p>
            <form class="mb-4" action="/decisions/<%= @hash %>" method="post">
                <input id="hidden" type="hidden" name="_method" value="patch">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="vote-limit-input" name="vote_limit" value="<%= @vote_limit %>" min="1" max="<%= @tasks.length%>">
                    <label for="vote-limit-input">L칤mite de votos</label>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-primary">Guardar</button>
                </div>
            </form>
            <p class="text-muted">Tambi칠n puedes borrar las votaciones para dejarlas en 0 y empezar de nuevo</p>
            <form action="/decisions/<%= @hash %>/clean" method="post">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-danger">Borrar votaciones</button>
                </div>
            </form>
        </div>
    </div>
</div>